<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824761309878-i5e0e5jceamjgj2dnlfrn5m67omlsbpu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824761309878-i5e0e5jceamjgj2dnlfrn5m67omlsbpu</string>
	<key>API_KEY</key>
	<string>AIzaSyAimL71adYgUEeaFQK2NVRfFwsFUF1Di7c</string>
	<key>GCM_SENDER_ID</key>
	<string>824761309878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Purdue-CS-30700.Magnet</string>
	<key>PROJECT_ID</key>
	<string>magnet-3fdd8</string>
	<key>STORAGE_BUCKET</key>
	<string>magnet-3fdd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824761309878:ios:66a0830a63e021fe8d2417</string>
</dict>
</plist>